<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectse">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo3"
        android:label="Lets Edit"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserProfile"></activity>
        <activity android:name=".LoginMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterMenu"></activity>
        <activity android:name=".Progress2" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Hire_Editor_Firebase" />
        <activity android:name=".hire_editor_firebase" />
        <activity android:name=".Hire_Menu2" />
        <activity android:name=".Accept" />
        <activity
            android:name=".RevisionSent"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".CobaFirebase" />
        <activity android:name=".Revision" />
        <activity android:name=".rev" />
        <activity android:name=".editor" />
        <activity android:name=".editor_profle" />
        <activity android:name=".hire_menu" />
        <activity android:name=".Progress" />
        <activity android:name=".Inbox" />
        <activity
            android:name=".Hire"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>